*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Weather__future-predictions {
    display: flex;
    overflow: auto;
}

.Settings__city-name {
    text-decoration: underline;
}
